version: '3.4'
x-build: &build
  context: .
  dockerfile: Dockerfile

x-shared: &common
  build:
    context: .
    dockerfile: Dockerfile
    args:
      - GITHUB_USER=${GITHUB_USER}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - DEV_SOURCE=${DEV_SOURCE}
  volumes:
    - .:/src/nndichromacy
    - ./notebooks:/notebooks
    - /mnt/scratch07/color_mei:/data
  env_file:
    - .env

services:
  notebook:
    <<: *common
    ports:
      - "8888:8888"

  pipeline:ls

    build:
      context: .
      dockerfile: Dockerfile_pipeline
    env_file:
      - .env_pipeline
    ports:
      - "8888:8888"